@import 'vars';

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  margin-bottom: 39px;
  width: 261px;
  & .catalog-cost {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    margin-top: -5px;
    box-sizing: border-box;
    width: 261px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.catalog-item a {
  text-decoration: none;
}


.catalog-item h2 {

  font-family: $font-lato;
  color:  #6f6e6e !important;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 17px;
}

.catalog-item h3 {
  font-family: $font-lato;
  color:  #f16d7f;
  font-size: 16px;
  font-weight: 700;
}

.catalog-item:hover {
  background-color:  #ffffff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
  position:relative;
  width: 261px;
  height: 364px;

}


.demoizo {
  display: block;
  text-decoration: none !important;
}

.demoizo:hover, .demoizo:focus, .demoizo:active {
  background: url(../img/background_hover.png) no-repeat;
}

.demoizo:hover img, .demoizo:focus img, .demoizo:active img  {
  background: transparent;
  opacity: 0.1;
}