@font-face {
  font-family: 'Lato', sans-serif;
  src: url("fonts/Lato/Lato-Black.ttf");
  src: url("fonts/Lato/Lato-Bold.ttf");
  src: url("fonts/Lato/Lato-Hairline.ttf");
  src: url("fonts/Lato/Lato-Italic.ttf");
  src: url("fonts/Lato/Lato-Light.ttf");
  src: url("fonts/Lato/Lato-Regular.ttf");
  font-family: 'Open Sans', sans-serif;
  src: url("fonts/Open_Sans/OpenSans-Regular.ttf");



}
@import "footer.scss";
@import "surfer.scss";
@import "catalog.scss";
@import "vars.scss";
@import "header.scss";
@import "bread";

* {
  margin: 0;
  padding: 0;
}

//-----------------------------HOME---------------------------


.slider {
  height: 615px;
  background-color: #e8e8e8;
}

.slider-text {
  float: left;
  margin-top: 224px;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
  text-transform: uppercase;
}

.slider-text h2 {
  line-height: 43px;
  font-family: $font-lato;
  color: #222222;
  font-size: 60px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 14px

}

.slider-text h3 {
  line-height: 33px;
  font-family: $font-lato;
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  text-align: left;
}

.slider-text span {
  font-family: $font-lato;
  color: #f16d7f;
  font-size: 40px;
  font-weight: 900;
}

.slider-img {
  background-image: url(../img/muzhik.png);
  background-position-y: -45px;
  background-position-x: -250px;
  height: 100%;
}

.offers {
  margin-top: 98px;
  margin-bottom: 100px;
  display:flex;
  justify-content: space-between;
}


.offers > div > div:first-child {
  margin-bottom: 20px;
}

.offers-big {
  background-color: red;
  width: 560px;
  height: 542px;
}

.offers-small {
  background-color: #dadad2;
  width: 560px;
  height: 261px;
}

.lopatnik {
  transition: transform 2s;
}

.lopatnik:hover {
  transform: translateX(250px) scale(2)

}

@keyframes myMove {
  0% {top: 0px;}
  50% {
    top: 20px;
    transform: rotate(180deg);
  }
  100% {top: 0px}
}


.babeha:hover {
  animation: myMove 2s linear infinite;
}


.featured_text {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.featured_text h3 {
  font-family: $font-lato;
  color:  #222222;
  font-size: 30px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
}

.featured_text h4 {
  font-family: $font-lato;
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  text-align: center;
}

.prod_bt {
  width: 212px;
  height: 48px;
  display: flex;
  justify-content: center;
}

.all_products {
  font-family: $font-lato;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  display: block;
  background-color: #f16d7f;
  padding: 5px 15px;
  text-decoration: none;
  transition: background-color 1s;
}

.all_products:hover {
  color: #f16d7f;
  background-color: #ffffff;
}


.skidon {
  margin-top: 100px;
  margin-bottom: 97px;
  height: 529px;
}


.skidon-left {
  float: left;
}

.sk_left_txt {
  margin-top: -390px;
  margin-left: 40px;
}

.skidon-left h2 {
  font-family: $font-lato;
  color:  #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-align: left;
}

.skidon-left span {
  font-family: $font-lato;
  color:  #f16d7f;
  font-size: 54px;
  font-weight: 700;
  text-align: left;
}

.skidon-left h3 {
  font-family: $font-lato;
  color:  #ffffff;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}



.skidon-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:  #222224;
  width: 373px;
  height: 529px;
  text-decoration: none;
  float:left;
}

.skidon_txt {
  margin-top: -33px;
  color:white;
  margin-left: 135px;
}

.skidon_txt h2 {
  font-family: $font-lato;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.skidon_txt p {
  padding-top: 15px;
  font-family: $font-lato;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.sprite {
  margin-left: 36px;
  margin-top: 30px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-korona {
  width: 47px;
  height: 35px;
  background-position: -15px -15px;
}

.sprite-percent {
  width: 40px;
  height: 40px;
  background-position: -15px -80px;
}

.sprite-tachka {
  width: 45px;
  height: 32px;
  background-position: -15px -150px;
}

//-------------------CHECKOUT-------------------------------

.shopping_information {
  margin-top: 90px;
  margin-bottom: 110px;
  & summary {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    outline: none;
  }
  & summary::-webkit-details-marker {
    display: none;
  }
}

.details_left {
  margin-bottom: 110px;
  & form {
    display: flex;
    flex-direction: column;
  }
}

.sh_details {
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 160px;
  display: flex;
}

.details_bt {
  margin-top: 35px;
  font-family: $font-lato;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 180px;
  height: 50px;
  transition: background-color 1s;
}
.details_bt:hover {
  background-color: #EDEDED;
}

.sh_details p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: $font-lato;
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.label_shop {
  font-family: $font-lato;
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.shopping_information h3{
  font-family: $font-lato;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.shopping_information h2{
  font-family: $font-lato;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.check_pluses {
  padding-top: 20px;
}

.details_right {
  margin-left: 200px;
}

.details_right__input {
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 390px;
  height: 45px;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
}

.zvezdochka {
  font-family: $font-lato;
  color: #ff0d0d;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.req_fi {
  font-family: $font-lato;
  color: #ff0d0d;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.sh_details {
  & a {
    margin-left: 50px;
    text-decoration: none;
    font-family: $font-lato;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }
}

.sh_details a:hover {
  color: goldenrod;
}

  //---------SHOPING-CART---------------------------------

  .shopping-products {
    margin-bottom: 91px;
  }

  .first-row {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: $font-lato;
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
  }

  .second-row {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid gainsboro;

  }

  .product-details {
    display: flex;
    width: 300px;
    flex-direction: column;
  }

  .text-details {
    margin-left: 15px;
    & h2 {
      margin-bottom: 30px;
      font-family: $font-lato;
      color: #222222;
      font-size: 13px;
      font-weight: 400;
      text-align: left;
    }
    & h4 {
      font-family: $font-lato;
      color: #575757;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
    }
    & span {
      font-family: $font-lato;
      color: #6f6e6e;
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      text-align: left;
    }
  }

  .unite-price h4 {
    font-family: $font-lato;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-left: 200px;
  }

  .quantity-cart input{
    outline: none;
    margin-left: 130px;
    margin-top: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 54px;
    height: 30px;
    padding-left: 10px;
  }

  .shipping h2{
    margin-left: 120px;
    font-family: $font-lato;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-top: 30px;
  }

  .subtotal h3 {
    font-family: $font-lato;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-left: 140px;
    margin-top: 30px;
  }

  .unite-price h4{
    margin-left: 20px;
    margin-top: 30px;
  }

  .action-cart img {
    margin-top: 33px;
  }

  .action-cart a {
    width:15px;
    margin-left: 140px;
    height:15px;
  }

  .buttons_cart {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 60px;
  }

  .shop_bt {
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 235px;
    height: 50px;
    font-family: $font-lato;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }


  .shop_bt:hover {
    background-color: #f16d7f;
    color: #ffffff;
  }

  .shop-form {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .shipping-adress {
    display: flex;
    flex-direction: column;
    & h3 {
      font-family: $font-lato;
      text-transform: uppercase;
      color: #222222;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
    }
    & button{
      margin-top: 30px;
      border-style: solid;
      border-width: 1px;
      border-color: #eaeaea;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 100px;
      height: 35px;
      font-family: $font-lato;
      color: #4a4a4a;
      font-size: 11px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }
    & button:hover {
      background-color: #EDEDED;
    }
  }

  .shippment {
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 355px;
    height: 45px;
    padding-left: 20px;
    margin-top: 22px;
  }


  .coupon-discount {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    & h3{
      font-family: $font-lato;
      color: #222222;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
    }
    & p{
      margin-top: 25px;
      font-family: $font-lato;
      color: #000000;
      font-size: 14px;
      font-weight: 300;
      text-align: left;
    }
  }

  .coupon {
    margin-left: -5px;
    margin-top: 25px;
    font-family: $font-lato;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 118px;
    height: 35px;
  }

  .coupon:hover {
    background-color: #EDEDED;
  }

  .checkout {
    box-sizing: border-box;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    background-color: #f5f3f3;
    width: 360px;
    height: 214px;
    padding: 40px;
    & h3 {
      font-family: $font-lato;
      color: #4a4a4a;
      font-size: 11px;
      font-weight: 400;
      text-align: right;
      text-transform: uppercase;
    }
    & h2 {
      padding-bottom: 20px;
      font-family: $font-lato;
      color: #222222;
      font-size: 16px;
      font-weight: 700;
      text-align: right;
      border-bottom: 1px solid gainsboro;
    }
    & span {
      font-family: $font-lato;
      color: #f16d7f;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
    }
  }
  .checkout_bt {
    margin-top: 5px;
    font-family: $font-lato;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background-color: #f16d7f;
    width: 100%;
    height: 50px;
  }

  .checkout_bt:hover {
    color: #f16d7f;
    background-color: #ffffff;
    border: 1px solid #f16d7f;
    text-decoration: none;
  }

  button {
    outline: none;
  }

  input {
    outline: none;
  }

//------------------_SINGLE-PAGE---------------------

.item-box {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
  margin: -70px;
  padding: 73px 260px 120px 260px !important;
  & h2 {
    font-family: $font-lato;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
  }
  & h3 {
    font-family: $font-lato;
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 900;
    margin-top: 17px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 67px;
  }
  & p {
    font-family: $font-lato;
    color: #5e5e5e;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
  }
}



.horizontal_line_txt{
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  box-sizing: border-box;
  background-color: #ef5b70;
  width: 147px;
  margin-top: 14px;
  align-self: center;
  display: flex;
  justify-content: center;
}

.fat_line {
  background-color: #ef5b70;
  width: 63px;
  align-self: center;
  margin-top: -2.5px;
  height: 3px;
}

.made_of_product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  & h4 {
    font-family: $font-lato;
    color:  #b9b9b9;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
  }
  & span {
    font-family: $font-lato;
    color:  #2f2f2f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
  }
}

.price {
  font-family: $font-lato;
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  padding-bottom: 51px;
}

.purchase_box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 55px;
  & input {
    width: 144px;
    height: 35px;
    padding-right: 10px;
    padding-left: 10px;
  }

  & h4 {
    font-family: $font-lato;
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
  }
}

.single_bt {
  position: relative;
  top: 50px;
  left: 38px;
  border-style: solid;
  border-width: 1px;
  border-color: #ef5b70;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 537px;
  height: 55px;
  font-family: $font-lato;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  outline: none !important;
  transition: background-color 1s;
}

.single_bt span {
  margin-left: 20px;
}

.single_bt:hover {
  background-color: #f16d7f;
  color: #ffffff;
}

.like_text {
  margin-top:210px;
  margin-bottom: 80px;
  & h3 {
    font-family: $font-lato;
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
  }
}

  //-------------------------------PRODUCT----------------------------
  .section-flex {
    display: flex;
    flex-direction: row;
  }

  .aside {
    margin-top: 70px;
    width: 250px;
    height: 195px;
  }

  .content-box {
    padding-left: 50px;
    margin-top: 90px;
    width: 100%;
  }

  .box-aside {
    margin-top: 20px;
    & summary {
      border-left: 5px solid #ef5b70;
      border-bottom: 1px solid lightgrey;
      outline: none;
      padding: 5px 0 5px 10px;
    }
    & h3 {
      font-family: $font-lato;
      color: #ef5b70;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-align: left;
    }
    & p {
      margin-left: 15px;
      font-family: $font-lato;
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      line-height: 33px;
      text-align: left;
    }
  }

  .box-aside summary::-webkit-details-marker {
    display: none;
  }

  .top-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & h2 {
      margin-bottom: 25px;
      font-family: $font-lato;
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-align: left;
      text-transform: uppercase;
    }
  }

  .trending {
    & a {
      font-family: $font-lato;
      color:  #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
      text-decoration: none;
    }
    & a:hover {
      color: goldenrod;
    }
  }

  .trending-text {
    width: 190px;
    & span {
      box-sizing: border-box;
      padding-right: 5px;
      padding-left: 5px;
      border-right:1px solid #dfdfdf;
    }
    & span:nth-child(3n) {
      border: none;
    }
  }

  .size-content {
    width: 220px;
    font-family: $font-sans;
    color:  #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    & label {
      margin-right: 23px;
    }
  }

  .label-xl {
    margin-left: 20px;
  }

  .label-xxl {
    margin-left: 2px;
  }

  .slidecontainer {
    width: 100%;
    & p {
      font-family: $font-sans;
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
    }
  }

  .slider_range {
    -webkit-appearance: none;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider_range:hover {
    opacity: 1;
  }

  .slider_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f16d7f;
    cursor: pointer;
  }

  .slider_range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f16d7f;
    cursor: pointer;
  }

  .sort-box {
    margin-bottom: 50px;
    margin-top: 45px;
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    & summary {
      outline: none;
    }
  }

  .sorting {
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:  #ebebeb;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 150px;
    height: 30px;
    display: flex;
    & h2 {
      border-right: 1px solid lightgrey;
      padding-right: 8px;
      padding-left: 8px;
      font-family: $font-lato;
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
    }
    & details {
      z-index: 2;
    }
    & summary {
      padding-left: 8px;
      font-family: $font-lato;
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
    }
    & p {
      padding-left: 8px;
      font-family: $font-lato;
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
      background-color:  #ffffff;
    }
  }

  .sorting summary::-webkit-details-marker {
    float: right;
    margin-top: 8px;
    margin-left: 15px;
  }

  .show {
    width: 120px;
  }

  .bottom-context-box {
    display: flex;
    justify-content: space-between;
    & button {
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
      border-color: #ef5b70;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 150px;
      height: 44px;
      font-family: $font-lato;
      color:  #ef5b70;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      text-align: center;
      transition: background-color 1s;
    }
    & button:hover {
      background-color: #f16d7f;
      color: #ffffff;
    }
  }


  .pages {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  #ebebeb;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 261px;
    height: 44px;
    & a {
      font-family: $font-lato;
      color:  #c4c4c4;
      text-decoration: none;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      text-align: left;
    }
    & a:hover {
      font-family: $font-lato;
      color:  #ef5b70;
      font-size: 16px;
      font-weight: 800;
      line-height: 26px;
      text-align: left;
    }
  }

  .skidon-product{
    margin-top: 130px;
    background-color:  #222224;
    width: 100%;
    height: 341px;
  }

  .skidon-nav {
    padding-top: 110px;
    display: flex;
    justify-content: space-around;
  }

  .in-skidon {
    flex-direction: column;
    width: 310px;
    height: 140px;
    display: flex;
    justify-content: center;
    & img {
      align-self: center;
    }
    & h2 {
      margin-top: 32px;
      margin-bottom: 17px;
      font-family: $font-lato;
      color:  #fbfbfb;
      font-size: 19.96px;
      font-weight: 700;
      text-align: center;
    }
    & p {
      font-family: $font-lato;
      color: #fbfbfb;
      font-size: 13.97px;
      font-weight: 300;
      line-height: 24px;
      text-align: center;
    }
  }


button {
  transition: background-color 1s;
}